<div class="box box-widget">
  <div class="box-body">
    <span class="info-box-text">
      <div class="f32">
        <div class="flag {{model.user.country.id}} middle-align"></div>
        <span class="inline-block middle-align notranslate">
          {{model.username}}
        </span>
      </div>
    </span>
    <span class="info-box-number">
      <small class="notranslate">{{t model.eventType}}</small>
      {{model.valueToStr}}</span>
  </div>
  <!-- /.info-box-content -->
</div>