<p>Hola {{user.name}}</p>

<p>Allwinbitcoin notifica que su información registrada en nuestra base
    de datos ha sido actualizada.</p>

<p>El cambio realizado corresponde a la billetera donde recibirá
    las transacciones de retiro solicitadas al sistema</p>

<p><strong>Es importante mencionar que si usted no ha realizado está modificación
    favor informar al correo info@allwinbitcoin.com inmediatamente.
    </strong>
</p>

<p>Equipo Allwinbitcoin</p>

<p>
    Por favor no responder a este email. Este buzón no se supervisa y no recibirá una respuesta. Para cualquier otra pregunta, póngase en contacto con nuestro departamento de soporte de miembros por correo electrónico a info@allwinbitcoin.com
</p>

<hr>

<p>Hi {{user.name}}.</p>
<p>Allwinbitcoin notifies that your information registered in our database has been updated.</p>
<p><strong>It is important to mention that if you have not done this modification please inform info@allwinbitcoin.com immediately.
    </strong>
</p>
<p>Allwinbitcoin Team</p>

<p>Please do not reply to this email. This mailbox is not monitored and you will not receive a response. For any other questions, please contact our member support department by email at info@allwinbitcoin.com</p>

