
<p>Hola {{user.name}}</p>

<p>
    Token de seguridad: {{token}}
</p>

<p>Equipo Allwinbitcoin</p>

<p>
    Por favor no responder a este email. Este buzón no se supervisa y no recibirá una respuesta. Para cualquier otra pregunta, póngase en contacto con nuestro departamento de soporte de miembros por correo electrónico a info@allwinbitcoin.com
</p>

<hr>

<p>Hi {{user.name}}.</p>
<p>Security Token is: {{token}}</p>

<p>Allwinbitcoin Team</p>

<p>Please do not reply to this email. This mailbox is not monitored and you will not receive a response. For any other questions, please contact our member support department by email at info@allwinbitcoin.com</p>
