<p>Estimado {{user.name}}.</p>
<p>¡Bienvenidos a Allwinbitcoin!</p>

<p>Confirma tu correo dando clic en el
    <a href="{{host.server}}/activate?token={{token}}">enlace</a>
     empiezas a ser parte de la gran familia Allwinbitcoin!.<br><br>
    Si tienes problemas con el enlace copia el link: {{host.server}}/activate?token={{token}} y pegalo en tu browser.
</p>

<p>
Es muy importante que este correo electrónico se verifique para que tenga acceso completo.
</p>
<p>
Para iniciar sesión, vaya a:<br>
<a href="https://office.allwinbitcoin.com/login">https://office.allwinbitcoin.com/login</a><br>
<br>
Su usuario es: {{user.username}}
</p>
<p>
<strong>NOTA</strong> su usuario y contraseña distingue entre mayúsculas y minúsculas.<br>
Para su protección, por favor, cambie esta contraseña una vez que ingrese.<br>
</p>
<p>
Disfrute y refiera a sus amigos para mayores ganancias a través del enlace:<br>
http://allwinbitcoin.com/r/{{user.username}}<br>
</p>
<p>Gracias por tu confianza. Éxitos en este negocio.</p>

<p>Atentamente.</p>

<p>Equipo Allwinbitcoin</p>

<p>
    Por favor no responder a este email. Este buzón no se supervisa y no recibirá una respuesta. Para cualquier otra pregunta, póngase en contacto con nuestro departamento de soporte de miembros por correo electrónico a info@allwinbitcoin.com
</p>


<hr>

<p>Dear {{user.name}}.</p>
<p>Welcome to Allwinbitcoin!</p>
<p>Confirm your email by clicking on the
    <a href="{{host.server}}/activate?token={{token}}">link</a> you start to be part of the great family Allwinbitcoin!
</p>
<p>It is very important that this email is verified for full access.</p>
<p>To log in, go to:<br>
<a href="https://office.allwinbitcoin.com/login">https://office.allwinbitcoin.com/login</a><br>
<br>
Your username is: {{user.username}}
</p>
<p>
<strong>NOTE</strong> Your username and password are case-sensitive.<br>
For your protection, please change this password once you enter.<br>
</p>
<p>
Enjoy and refer your friends for greater profits through the link:
Http://allwinbitcoin.com/r/{{user.username}}<br>
</p>
<p>Thank you for your trust. Successes in this business.</p>
<p>Best regards.</p>
<p>Allwinbitcoin Team</p>

<p>Please do not reply to this email. This mailbox is not monitored and you will not receive a response. For any other questions, please contact our member support department by email at info@allwinbitcoin.com</p>
